In [1]:
import pandas

In [7]:
import pandas as pd
my_list = [2, 4, 6, 8]
my_series = pd.Series(my_list)
my_series.sum()
my_series.max()
my_series.min()
my_series.mean()
my_series.median()
my_series.std()
my_series.describe()

count    4.000000
mean     5.000000
std      2.581989
min      2.000000
25%      3.500000
50%      5.000000
75%      6.500000
max      8.000000
dtype: float64

In [15]:
pd.read_csv("https://query.data.world/s/kbtow3x5zyrss6z4qmbo72hchtu53e")
props = pd.read_csv("https://query.data.world/s/kbtow3x5zyrss6z4qmbo72hchtu53e")

,bioguide,chamber,name,party,rank,thomas,thomas_id,title
0,N000181,NaN,Devin Nunes,majority,1,1710,HLIG,Chair
1,C001062,NaN,K. Michael Conaway,majority,3,1805,HLIG,NaN
2,K000210,NaN,Peter T. King,majority,4,635,HLIG,NaN
3,L000554,NaN,Frank A. LoBiondo,majority,5,699,HLIG,NaN
4,R000583,NaN,Thomas J. Rooney,majority,7,1916,HLIG,NaN
5,P000602,NaN,Mike Pompeo,majority,9,2022,HLIG,NaN
6,R000435,NaN,Ileana Ros-Lehtinen,majority,10,985,HLIG,NaN
7,T000463,NaN,Michael R. Turner,majority,11,1741,HLIG,NaN
8,W000815,NaN,Brad R. Wenstrup,majority,12,2152,HLIG,NaN
9,S001192,NaN,Chris Stewart,majority,13,2168,HLIG,NaN
10,S001150,NaN,Adam B. Schiff,minority,1,1635,HLIG,Ranking Member
11,H001047,NaN,James A. Himes,minority,2,1913,HLIG,NaN
12,S001185,NaN,Terri A. Sewell,minority,3,1988,HLIG,NaN
13,C001072,NaN,Andr√© Carson,minority,4,1889,HLIG,NaN
14,S001175,NaN,Jackie Speier,minority,5,1890,HLIG,NaN
15,Q000023,NaN,Mike Quigley,minority,6,1967,HLIG,NaN
16,S001193,NaN,Eric Swalwell,minority,7,2104,HLIG,NaN
17,C001091,NaN,Joaquin Castro,minority,9,2163,HLIG,NaN
18,L000554,NaN,Frank A. LoBiondo,majority,1,699,HLIG01,Chair
19,C001062,NaN,K. Michael Conaway,majority,2,1805,HLIG01,NaN
20,K000210,NaN,Peter T. King,majority,3,635,HLIG01,NaN
21,R000583,NaN,Thomas J. Rooney,majority,5,1916,HLIG01,NaN
22,P000602,NaN,Mike Pompeo,majority,6,2022,HLIG01,NaN
23,S001193,NaN,Eric Swalwell,minority,1,2104,HLIG01,Ranking Member
24,H001047,NaN,James A. Himes,minority,2,1913,HLIG01,NaN
25,C001072,NaN,Andr√© Carson,minority,3,1889,HLIG01,NaN
26,C001091,NaN,Joaquin Castro,minority,4,2163,HLIG01,NaN
27,C001062,NaN,K. Michael Conaway,majority,3,1805,HLIG02,NaN
28,K000210,NaN,Peter T. King,majority,4,635,HLIG02,NaN
29,P000602,NaN,Mike Pompeo,majority,5,2022,HLIG02,NaN
...,...,...,...,...,...,...,...,...
3361,P000603,NaN,Rand Paul,majority,4,2082,SSSB,NaN
3362,S001184,NaN,Tim Scott,majority,5,2056,SSSB,NaN
3363,F000463,NaN,Deb Fischer,majority,6,2179,SSSB,NaN
3364,G000562,NaN,Cory Gardner,majority,7,1998,SSSB,NaN
3365,E000295,NaN,Joni Ernst,majority,8,2283,SSSB,NaN
3366,E000285,NaN,Michael B. Enzi,majority,10,1542,SSSB,NaN
3367,S001181,NaN,Jeanne Shaheen,minority,1,1901,SSSB,Ranking Member
3368,C000127,NaN,Maria Cantwell,minority,2,172,SSSB,NaN
3369,C000141,NaN,Benjamin L. Cardin,minority,3,174,SSSB,NaN
3370,H001069,NaN,Heidi Heitkamp,minority,4,2174,SSSB,NaN
3371,M000133,NaN,Edward J. Markey,minority,5,735,SSSB,NaN
3372,B001288,NaN,Cory A. Booker,minority,6,2194,SSSB,NaN
3373,C001088,NaN,Christopher A. Coons,minority,7,1984,SSSB,NaN
3374,H001042,NaN,Mazie K. Hirono,minority,8,1844,SSSB,NaN
3375,P000595,NaN,Gary C. Peters,minority,9,1929,SSSB,NaN
3376,I000055,NaN,Johnny Isakson,majority,1,1608,SSVA,Chairman
3377,M000934,NaN,Jerry Moran,majority,2,1507,SSVA,NaN
3378,B001236,NaN,John Boozman,majority,3,1687,SSVA,NaN
3379,H001041,NaN,Dean Heller,majority,4,1863,SSVA,NaN
3380,C001075,NaN,Bill Cassidy,majority,5,1925,SSVA,NaN
3381,R000605,NaN,Mike Rounds,majority,6,2288,SSVA,NaN
3382,T000476,NaN,Thom Tillis,majority,7,2291,SSVA,NaN
3383,S001198,NaN,Daniel Sullivan,majority,8,2290,SSVA,NaN
3384,B001277,NaN,Richard Blumenthal,minority,1,2076,SSVA,Ranking Member
3385,M001111,NaN,Patty Murray,minority,2,1409,SSVA,NaN
3386,S000033,NaN,Bernard Sanders,minority,3,1010,SSVA,NaN
3387,B000944,NaN,Sherrod Brown,minority,4,136,SSVA,NaN
3388,T000464,NaN,Jon Tester,minority,5,1829,SSVA,NaN
3389,H001042,NaN,Mazie K. Hirono,minority,6,1844,SSVA,NaN
3390,M001183,NaN,"Joe Manchin, III",minority,7,1983,SSVA,NaN

In [18]:
props.head()

,bioguide,chamber,name,party,rank,thomas,thomas_id,title
0,N000181,NaN,Devin Nunes,majority,1,1710,HLIG,Chair
1,C001062,NaN,K. Michael Conaway,majority,3,1805,HLIG,NaN
2,K000210,NaN,Peter T. King,majority,4,635,HLIG,NaN
3,L000554,NaN,Frank A. LoBiondo,majority,5,699,HLIG,NaN
4,R000583,NaN,Thomas J. Rooney,majority,7,1916,HLIG,NaN

In [19]:
props.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3391 entries, 0 to 3390
Data columns (total 8 columns):
bioguide     3391 non-null object
chamber      55 non-null object
name         3391 non-null object
party        3391 non-null object
rank         3391 non-null int64
thomas       3391 non-null int64
thomas_id    3391 non-null object
title        596 non-null object
dtypes: int64(2), object(6)
memory usage: 212.0+ KB

In [25]:
props.thomas
props.thomas.value_counts()

1567    21
949     19
1507    19
213     18
968     18
1687    18
1036    17
452     17
174     17
735     17
1984    17
859     16
2175    16
1226    16
1925    16
2076    16
1823    16
1826    16
1901    16
1351    16
2138    16
1829    16
1694    16
1464    16
1695    16
1676    16
1383    15
1531    15
172     15
1863    15
        ..
1188     3
2271     3
2060     3
2191     3
2158     3
1593     3
478      3
1950     3
854      3
2169     3
612      3
2165     3
355      2
683      2
1635     2
709      2
1037     2
1596     2
70       2
1809     2
1528     2
1525     2
1892     2
977      1
1155     1
229      1
910      1
1560     1
1729     1
2159     1
Name: thomas, Length: 477, dtype: int64

In [26]:
props.thomas.value_counts().reset_index()

     index  thomas
0     1567      21
1      949      19
2     1507      19
3      213      18
4      968      18
5     1687      18
6     1036      17
7      452      17
8      174      17
9      735      17
10    1984      17
11     859      16
12    2175      16
13    1226      16
14    1925      16
15    2076      16
16    1823      16
17    1826      16
18    1901      16
19    1351      16
20    2138      16
21    1829      16
22    1694      16
23    1464      16
24    1695      16
25    1676      16
26    1383      15
27    1531      15
28     172      15
29    1863      15
..     ...     ...
447   1188       3
448   2271       3
449   2060       3
450   2191       3
451   2158       3
452   1593       3
453    478       3
454   1950       3
455    854       3
456   2169       3
457    612       3
458   2165       3
459    355       2
460    683       2
461   1635       2
462    709       2
463   1037       2
464   1596       2
465     70       2
466   1809       2
467   1528       2
468   1525       2
469   1892       2
470    977       1
471   1155       1
472    229       1
473    910       1
474   1560       1
475   1729       1
476   2159       1

[477 rows x 2 columns]

In [28]:
props.name == 'Peter T. King'

0       False
1       False
2        True
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20       True
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28       True
29      False
        ...
3361    False
3362    False
3363    False
3364    False
3365    False
3366    False
3367    False
3368    False
3369    False
3370    False
3371    False
3372    False
3373    False
3374    False
3375    False
3376    False
3377    False
3378    False
3379    False
3380    False
3381    False
3382    False
3383    False
3384    False
3385    False
3386    False
3387    False
3388    False
3389    False
3390    False
Name: name, Length: 3391, dtype: bool

In [29]:
prop = props[props.name == 'Peter T. King']

In [30]:
prop.head()

    bioguide chamber           name     party  rank  thomas thomas_id title
2    K000210     NaN  Peter T. King  majority     4     635      HLIG   NaN
20   K000210     NaN  Peter T. King  majority     3     635    HLIG01   NaN
28   K000210     NaN  Peter T. King  majority     4     635    HLIG02   NaN
495  K000210     NaN  Peter T. King  majority     2     635      HSBA   NaN
564  K000210     NaN  Peter T. King  majority     3     635    HSBA09   NaN

In [31]:
prop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 2 to 1056
Data columns (total 8 columns):
bioguide     9 non-null object
chamber      0 non-null object
name         9 non-null object
party        9 non-null object
rank         9 non-null int64
thomas       9 non-null int64
thomas_id    9 non-null object
title        1 non-null object
dtypes: int64(2), object(6)
memory usage: 648.0+ bytes

In [37]:
props.info()
props.rank.sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3391 entries, 0 to 3390
Data columns (total 8 columns):
bioguide     3391 non-null object
chamber      55 non-null object
name         3391 non-null object
party        3391 non-null object
rank         3391 non-null int64
thomas       3391 non-null int64
thomas_id    3391 non-null object
title        596 non-null object
dtypes: int64(2), object(6)
memory usage: 212.0+ KB

AttributeError: 'function' object has no attribute 'sum'

In [35]:
props.rank

<bound method NDFrame.rank of      bioguide chamber                  name     party  rank  thomas thomas_id  \
0     N000181     NaN           Devin Nunes  majority     1    1710      HLIG
1     C001062     NaN    K. Michael Conaway  majority     3    1805      HLIG
2     K000210     NaN         Peter T. King  majority     4     635      HLIG
3     L000554     NaN     Frank A. LoBiondo  majority     5     699      HLIG
4     R000583     NaN      Thomas J. Rooney  majority     7    1916      HLIG
5     P000602     NaN           Mike Pompeo  majority     9    2022      HLIG
6     R000435     NaN   Ileana Ros-Lehtinen  majority    10     985      HLIG
7     T000463     NaN     Michael R. Turner  majority    11    1741      HLIG
8     W000815     NaN      Brad R. Wenstrup  majority    12    2152      HLIG
9     S001192     NaN         Chris Stewart  majority    13    2168      HLIG
10    S001150     NaN        Adam B. Schiff  minority     1    1635      HLIG
11    H001047     NaN        James A. Himes  minority     2    1913      HLIG
12    S001185     NaN       Terri A. Sewell  minority     3    1988      HLIG
13    C001072     NaN          Andr√© Carson  minority     4    1889      HLIG
14    S001175     NaN         Jackie Speier  minority     5    1890      HLIG
15    Q000023     NaN          Mike Quigley  minority     6    1967      HLIG
16    S001193     NaN         Eric Swalwell  minority     7    2104      HLIG
17    C001091     NaN        Joaquin Castro  minority     9    2163      HLIG
18    L000554     NaN     Frank A. LoBiondo  majority     1     699    HLIG01
19    C001062     NaN    K. Michael Conaway  majority     2    1805    HLIG01
20    K000210     NaN         Peter T. King  majority     3     635    HLIG01
21    R000583     NaN      Thomas J. Rooney  majority     5    1916    HLIG01
22    P000602     NaN           Mike Pompeo  majority     6    2022    HLIG01
23    S001193     NaN         Eric Swalwell  minority     1    2104    HLIG01
24    H001047     NaN        James A. Himes  minority     2    1913    HLIG01
25    C001072     NaN          Andr√© Carson  minority     3    1889    HLIG01
26    C001091     NaN        Joaquin Castro  minority     4    2163    HLIG01
27    C001062     NaN    K. Michael Conaway  majority     3    1805    HLIG02
28    K000210     NaN         Peter T. King  majority     4     635    HLIG02
29    P000602     NaN           Mike Pompeo  majority     5    2022    HLIG02
...       ...     ...                   ...       ...   ...     ...       ...
3361  P000603     NaN             Rand Paul  majority     4    2082      SSSB
3362  S001184     NaN             Tim Scott  majority     5    2056      SSSB
3363  F000463     NaN           Deb Fischer  majority     6    2179      SSSB
3364  G000562     NaN          Cory Gardner  majority     7    1998      SSSB
3365  E000295     NaN            Joni Ernst  majority     8    2283      SSSB
3366  E000285     NaN       Michael B. Enzi  majority    10    1542      SSSB
3367  S001181     NaN        Jeanne Shaheen  minority     1    1901      SSSB
3368  C000127     NaN        Maria Cantwell  minority     2     172      SSSB
3369  C000141     NaN    Benjamin L. Cardin  minority     3     174      SSSB
3370  H001069     NaN        Heidi Heitkamp  minority     4    2174      SSSB
3371  M000133     NaN      Edward J. Markey  minority     5     735      SSSB
3372  B001288     NaN        Cory A. Booker  minority     6    2194      SSSB
3373  C001088     NaN  Christopher A. Coons  minority     7    1984      SSSB
3374  H001042     NaN       Mazie K. Hirono  minority     8    1844      SSSB
3375  P000595     NaN        Gary C. Peters  minority     9    1929      SSSB
3376  I000055     NaN        Johnny Isakson  majority     1    1608      SSVA
3377  M000934     NaN           Jerry Moran  majority     2    1507      SSVA
3378  B001236     NaN          John Boozman  majority     3    1687      SSVA
3379  H001041     NaN           Dean Heller  majority     4    1863      SSVA
3380  C001075     NaN          Bill Cassidy  majority     5    1925      SSVA
3381  R000605     NaN           Mike Rounds  majority     6    2288      SSVA
3382  T000476     NaN           Thom Tillis  majority     7    2291      SSVA
3383  S001198     NaN       Daniel Sullivan  majority     8    2290      SSVA
3384  B001277     NaN    Richard Blumenthal  minority     1    2076      SSVA
3385  M001111     NaN          Patty Murray  minority     2    1409      SSVA
3386  S000033     NaN       Bernard Sanders  minority     3    1010      SSVA
3387  B000944     NaN         Sherrod Brown  minority     4     136      SSVA
3388  T000464     NaN            Jon Tester  minority     5    1829      SSVA
3389  H001042     NaN       Mazie K. Hirono  minority     6    1844      SSVA
3390  M001183     NaN      Joe Manchin, III  minority     7    1983      SSVA

               title
0              Chair
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10    Ranking Member
11               NaN
12               NaN
13               NaN
14               NaN
15               NaN
16               NaN
17               NaN
18             Chair
19               NaN
20               NaN
21               NaN
22               NaN
23    Ranking Member
24               NaN
25               NaN
26               NaN
27               NaN
28               NaN
29               NaN
...              ...
3361             NaN
3362             NaN
3363             NaN
3364             NaN
3365             NaN
3366             NaN
3367  Ranking Member
3368             NaN
3369             NaN
3370             NaN
3371             NaN
3372             NaN
3373             NaN
3374             NaN
3375             NaN
3376        Chairman
3377             NaN
3378             NaN
3379             NaN
3380             NaN
3381             NaN
3382             NaN
3383             NaN
3384  Ranking Member
3385             NaN
3386             NaN
3387             NaN
3388             NaN
3389             NaN
3390             NaN

[3391 rows x 8 columns]>